@model IEnumerable<EmployeeView>
@{
    ViewBag.Title = "Список сотрудников";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Index</title>
</head>
<body>

    <a asp-action="Edit" class="btn btn-success">Добавить</a>
    <hr>
    <table class="table table-bordered">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Очество</td>
            <td>Возвраст</td>
            <td>Карточка сотрудника</td>
            <td>Редактировать</td>
            <td>Удалить</td>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.SurName</td>
            <td>@item.Patronymic</td>
            <td>@item.Age</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <i class="fa fa-edit"></i>
                    </a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fa fa-cut"></i>
                </a>
            </td>
        </tr>
        }
    </table>
 

</body>
</html>

